<!DOCTYPE html>
<html>
<head>
    <!-- your head content like CSS links, title etc. -->
    <title>Add book to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1><%=shopName%>: Add book</h1>
    <form method="POST" action="/bookadded">
        <p>
            Book Title:
            <input type="text" name="title" placeholder="Book Title" required />
        </p>
        <p>
            Description:
            <textarea name="description" placeholder="Description"></textarea>
        </p>
        <p>
            Publication Date:
            <input type="date" name="publication_date" required />
        </p>
        <p>
            Price (£):
            <input
              type="text"
              name="price"
              placeholder="Price"
              required
              pattern="^\d+(\.\d{1,2})?$"
              title="Please enter a valid price. Eg: 5 or 5.75"
            />
        </p>
        <p>
            Publisher:
            <select name="publisher_id">
                <% publishers.forEach(function(publisher) { %>
                    <option value="<%= publisher.publisher_id %>">
                        <%= publisher.name %>
                    </option>
                <% }); %>
            </select>
        </p>
        <input type="submit" value="Add Book" />
    </form>
</body>
</html>
